# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db
Desktop.ini
._*

# ==============================
# Editor & IDE files
# ==============================
*.swp
*.swo
*~
.vscode/
.idea/
*.code-workspace
tags
TAGS
